src/main/mule/batch-3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="b1a80982-6ef6-46d1-a9e2-da3fda49081b" >
		<file:connection workingDir="E:\Workspace 4.0 latest\batch-3\src\main\resources\input" />
	</file:config>
	<flow name="batch-3Flow" doc:id="6dc02def-50a4-4298-a599-854c13d0321d" >
		<file:listener doc:name="On New or Updated File" doc:id="8a0519da-9f49-47cc-96c2-6fe59920ce6b" config-ref="File_Config" directory="E:\Workspace 4.0 latest\batch-3\src\main\resources\input" moveToDirectory="E:\Workspace 4.0 latest\batch-3\src\main\resources\output" renameTo="#[attributes.filename ++ now().day]">
			<scheduling-strategy >
				<fixed-frequency frequency="100" timeUnit="SECONDS" />
			</scheduling-strategy>
			<file:matcher filenamePattern="**CSV" />
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="29cac1d0-347c-43df-8daf-c7ff790e2e88" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="Set Variable" doc:id="a4e456e2-844b-45bc-962b-895f4e5f16a4" variableName="size"/>
		<batch:job jobName="batch-3Batch_Job" doc:id="9c649709-6573-47b7-9489-56a1ef12c5c9" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="51f4e552-4f00-4123-adab-290d2d64b105" >
					<set-variable value="#[payload.Name]" doc:name="Set Variable" doc:id="704bf9fb-b6e2-48f3-9705-b3981728256f" variableName="name" />
					<logger level="INFO" doc:name="Logger" doc:id="9e647156-a87d-49f4-8f31-53208b92e8a4" message="#[vars.name]"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="38a0c3b9-acee-4075-945a-e6c4b9827504" message="#[vars.size]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
